Repository VitauMX/vita-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "stylelint",
    "eslint",
    "jest --findRelatedTests",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore(config): remove jest cache config and update gitignore
  .gitignore
  jest.config.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(css-normalize): create CSS normalize component
  .stylelintrc
  packages/css-normalize/package.json
  packages/css-normalize/src/css-normalize.tsx
  packages/css-normalize/src/index.ts
  packages/css-normalize/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(repo): install necessary deps
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(lerna): update lerna config
  lerna.json
Due: none

chore(scripts): create releasing and publishing scripts
  utils/scripts/common.js
  utils/scripts/publish.js
  utils/scripts/release.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(changelog): create initial changelog
  CHANGELOG.MD
Due: none

chore(scripts): add scripts to package.json
  package.json
Due: prettier-package-json --write

chore(scripts): create release and publish scripts (#2)
  CHANGELOG.MD
  lerna.json
  package.json
  utils/scripts/common.js
  utils/scripts/publish.js
  utils/scripts/release.js
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

feat(css-normalize): create CSS normalize component (#1)
  .stylelintrc
  packages/css-normalize/package.json
  packages/css-normalize/src/css-normalize.tsx
  packages/css-normalize/src/index.ts
  packages/css-normalize/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(layout): create initial layout package
  packages/layout/package.json
  packages/layout/src/Layout.tsx
  packages/layout/src/index.ts
  packages/layout/stories/Layout.stories.tsx
  packages/layout/tests/Layout.test.tsx
  packages/layout/tsconfig.json
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(layout): create basic box layout component
  packages/layout/src/Box.tsx
  packages/layout/src/index.ts
  packages/layout/src/utils/types.ts
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(layout): create basic grid layout component
  packages/layout/src/Grid.tsx
  packages/layout/src/index.ts
  packages/layout/stories/Grid.stories.tsx
  packages/layout/stories/Layout.stories.tsx
  packages/layout/tests/Layout.test.tsx
  packages/layout/tests/__snapshots__/Layout.test.tsx.snap
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(layout): add a11y tests
  package.json
  packages/layout/tests/Layout.test.tsx
  tsconfig.json
  utils/test/jest.setup.ts
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

refactor(layout): refactor testing configuration
  .gitignore
  jest.config.js
  jest.config.ts
  package.json
  utils/test/setupTests.ts
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(layout): update grid stories and update storybook config
  .storybook/main.js
  .storybook/preview.js
  README.md
  packages/layout/stories/Grid.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(layout): create initial layout components (#3)
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  README.md
  jest.config.js
  jest.config.ts
  package.json
  packages/layout/package.json
  packages/layout/src/Box.tsx
  packages/layout/src/Grid.tsx
  packages/layout/src/Layout.tsx
  packages/layout/src/index.ts
  packages/layout/src/utils/types.ts
  packages/layout/stories/Grid.stories.tsx
  packages/layout/tests/Layout.test.tsx
  packages/layout/tests/__snapshots__/Layout.test.tsx.snap
  packages/layout/tsconfig.json
  tsconfig.json
  utils/test/jest.setup.ts
  utils/test/setupTests.ts
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

Add renovate.json
  renovate.json
Due: none

chore(renovate): move config file to .github dir
  .github/renovate.json
  renovate.json
Due: none

chore(renovate): update renovate config
  .github/renovate.json
Due: none

feat: ci yml files
  .github/workflows/npm-publish.yml
  .github/workflows/react-ci.yml
  package.json
Due: prettier-package-json --write

feat(box): added flex item properties
  packages/layout/src/Box.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(layout): removed unused file
  packages/layout/src/Layout.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(flex): create intital flex component
  packages/layout/src/Flex.tsx
  packages/layout/src/index.ts
  packages/layout/stories/Flex.stories.tsx
  packages/layout/tests/Flex.test.tsx
  packages/layout/tests/__snapshots__/Flex.test.tsx.snap
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(deps): update dependency husky to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(release): configure auto for releases
  .all-contributorsrc
  .autorc.js
  README.md
  package.json
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): configure auto for releases (#11)
  .all-contributorsrc
  .autorc.js
  README.md
  package.json
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(changelog): remove old changelog
  CHANGELOG.MD
Due: none

chore(auto): exclude renovate bot from contributor
  .autorc.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(changelog): remove old changelog (#14)
  .autorc.js
  CHANGELOG.MD
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(release): configure auto pr labels
  .autorc.js
  README.md
  utils/scripts/publish.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(release): configure auto pr labels (#16)
  .autorc.js
  README.md
  utils/scripts/publish.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(contributors): configure all-contributors
  README.md
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(contributors): configure all-contributors (#17)
  README.md
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(packages): remove unused button and input packages
  packages/button/package.json
  packages/button/src/Button.tsx
  packages/button/src/index.ts
  packages/button/stories/Button.stories.tsx
  packages/button/tests/Button.test.tsx
  packages/button/tsconfig.json
  packages/input/package.json
  packages/input/src/Input.tsx
  packages/input/src/index.ts
  packages/input/stories/Input.stories.tsx
  packages/input/tests/Input.test.tsx
  packages/input/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(packages): remove unused button and input packages (#18)
  packages/button/package.json
  packages/button/src/Button.tsx
  packages/button/src/index.ts
  packages/button/stories/Button.stories.tsx
  packages/button/tests/Button.test.tsx
  packages/button/tsconfig.json
  packages/input/package.json
  packages/input/src/Input.tsx
  packages/input/src/index.ts
  packages/input/stories/Input.stories.tsx
  packages/input/tests/Input.test.tsx
  packages/input/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore: remove commitlint
  .huskyrc
Due: none

chore: remove commitlint (#19)
  .huskyrc
Due: none

chore(lerna): allow version command in any branch
  lerna.json
Due: none

chore(lerna): allow version command in any branch (#20)
  lerna.json
Due: none

chore(release): publish
  packages/css-normalize/CHANGELOG.md
  packages/css-normalize/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: prettier-package-json --write
