Repository VitauMX/vita-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

fix: align manypkg postinstall checks
  package.json
Due: prettier-package-json --write

fix: restore Node 15 compatible manypkg
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: align TypeScript with ts-jest
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: bump Node to 20 for manypkg and node-plop
  .github/workflows/storybook-gh-page.yml
  .nvmrc
  Layerfile
Due: none

fix: pin stylelint @babel/core range to 7.29.7
  yarn.lock
Due: none

fix: restore jsdom test environment after Jest 30 upgrade
  jest.config.ts
  package.json
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

fix: align Node and TypeScript with Jest 30
  .github/workflows/storybook-gh-page.yml
  .nvmrc
  Layerfile
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(ci): run Storybook deploy on ubuntu-latest
  .github/workflows/storybook-gh-page.yml
Due: none

fix: pin manypkg and node-plop, align @reach/auto-id versions
  package.json
  packages/field/package.json
  packages/input/package.json
  packages/loader/package.json
  yarn.lock
Due: prettier-package-json --write

fix: keep manypkg check and package generator working
  package.json
  packages/field/package.json
  packages/input/package.json
  packages/loader/package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): bump jest-watch-typeahead to v3 for Jest 30
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: bump TypeScript for Jest 30
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: restore jsdom test environment for Jest 30
  jest.config.ts
  package.json
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

fix: resolve @babel/core >=7.9.0 to 7.29.7
  yarn.lock
Due: none

fix: run Jest 30 on Node 18
  .github/workflows/storybook-gh-page.yml
  .nvmrc
  Layerfile
  package.json
Due: prettier-package-json --write

fix(deps): upgrade jest-watch-typeahead for Jest 30
  package.json
  yarn.lock
Due: prettier-package-json --write

Path conditions:
  stylelint: any of: **/*.{ts,tsx,js,jsx}
  eslint: any of: **/*.{ts,tsx,js,jsx}
  jest --findRelatedTests: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{ts,tsx,js,jsx}
  prettier-package-json --write: any of: **/package.json
