Repository VitauMX/vita-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "stylelint",
    "eslint",
    "jest --findRelatedTests",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Refactor icon component and develop 'createIcon' function for easily creating new icons
  packages/icons/src/Icon.tsx
  packages/icons/src/createIcon.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

Update icons stories
  packages/icons/stories/Icons.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

Update icons tests
  packages/icons/tests/Icon.test.tsx
  packages/icons/tests/__snapshots__/Icon.test.tsx.snap
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(button): renaming button props
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(button): secondary button component (#34)
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/index.ts
  packages/button/stories/SecondaryButton.stories.tsx
  packages/button/tests/ButtonSecondary.test.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: 344d4c9b22709e2aba4292362840eadb693f1705
  iframe.html
  main.6309c15c56ebd9f2ebb3.bundle.js
  main.6309c15c56ebd9f2ebb3.bundle.js.map
  main.dbe6086f085212779f1a.bundle.js
  main.dbe6086f085212779f1a.bundle.js.map
  runtime~main.6309c15c56ebd9f2ebb3.bundle.js
  runtime~main.6309c15c56ebd9f2ebb3.bundle.js.map
  runtime~main.dbe6086f085212779f1a.bundle.js.map
  vendors~main.6309c15c56ebd9f2ebb3.bundle.js
  vendors~main.6309c15c56ebd9f2ebb3.bundle.js.LICENSE.txt
  vendors~main.6309c15c56ebd9f2ebb3.bundle.js.map
  vendors~main.dbe6086f085212779f1a.bundle.js
  vendors~main.dbe6086f085212779f1a.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(button): tertiary button component (#38)
  packages/button/src/ButtonTertiary.tsx
  packages/button/src/index.ts
  packages/button/stories/TertiaryButton.stories.tsx
  packages/button/tests/ButtonTertiary.test.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: 98d81baf3ad6c8f6124d86bae1739c1908e000b1
  iframe.html
  main.49cc211e781a1c3a4d59.bundle.js
  main.49cc211e781a1c3a4d59.bundle.js.map
  main.6309c15c56ebd9f2ebb3.bundle.js
  main.6309c15c56ebd9f2ebb3.bundle.js.map
  runtime~main.49cc211e781a1c3a4d59.bundle.js
  runtime~main.49cc211e781a1c3a4d59.bundle.js.map
  runtime~main.6309c15c56ebd9f2ebb3.bundle.js.map
  vendors~main.49cc211e781a1c3a4d59.bundle.js
  vendors~main.49cc211e781a1c3a4d59.bundle.js.LICENSE.txt
  vendors~main.49cc211e781a1c3a4d59.bundle.js.map
  vendors~main.6309c15c56ebd9f2ebb3.bundle.js
  vendors~main.6309c15c56ebd9f2ebb3.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(deps): update dependency dotenv to v9
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(storybook): config storybook deploy in prs
  Layerfile
Due: none

feat(storybook): config storybook deploy in prs (#37)
  Layerfile
Due: none

fix(storybook): fixing story book import
  packages/icons/stories/Icons.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: b51c1d8d32b6a29f5d55eab386e05ebab43da82a
  iframe.html
  main.49cc211e781a1c3a4d59.bundle.js
  main.49cc211e781a1c3a4d59.bundle.js.map
  main.b7f8144001f8819c198c.bundle.js
  main.b7f8144001f8819c198c.bundle.js.map
  runtime~main.49cc211e781a1c3a4d59.bundle.js.map
  runtime~main.b7f8144001f8819c198c.bundle.js
  runtime~main.b7f8144001f8819c198c.bundle.js.map
  vendors~main.49cc211e781a1c3a4d59.bundle.js
  vendors~main.49cc211e781a1c3a4d59.bundle.js.map
  vendors~main.b7f8144001f8819c198c.bundle.js
  vendors~main.b7f8144001f8819c198c.bundle.js.LICENSE.txt
  vendors~main.b7f8144001f8819c198c.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(storybook): adding fonts
  .storybook/preview-head.html
  packages/button/src/ButtonBaseStyles.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(storybook): adding fonts (#49)
  .storybook/preview-head.html
  packages/button/src/ButtonBaseStyles.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: cd8c31f1d92429e5cd2d9865a75e824137865ff8
  iframe.html
  main.0546f7761cb6a41d2609.bundle.js
  main.0546f7761cb6a41d2609.bundle.js.map
  main.b7f8144001f8819c198c.bundle.js
  main.b7f8144001f8819c198c.bundle.js.map
  runtime~main.0546f7761cb6a41d2609.bundle.js
  runtime~main.0546f7761cb6a41d2609.bundle.js.map
  runtime~main.b7f8144001f8819c198c.bundle.js.map
  vendors~main.0546f7761cb6a41d2609.bundle.js
  vendors~main.0546f7761cb6a41d2609.bundle.js.LICENSE.txt
  vendors~main.0546f7761cb6a41d2609.bundle.js.map
  vendors~main.b7f8144001f8819c198c.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(switch): switch component
  packages/switch/package.json
  packages/switch/src/Switch.tsx
  packages/switch/src/index.ts
  packages/switch/stories/Switch.stories.tsx
  packages/switch/tests/Switch.test.tsx
  packages/switch/tests/__snapshots__/Switch.test.tsx.snap
  packages/switch/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

feat(switch): switch component (#54)
  packages/switch/package.json
  packages/switch/src/Switch.tsx
  packages/switch/src/index.ts
  packages/switch/stories/Switch.stories.tsx
  packages/switch/tests/Switch.test.tsx
  packages/switch/tests/__snapshots__/Switch.test.tsx.snap
  packages/switch/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

deploy: 6926cece9d1ffd09e1cf091c30ad8e0df1c9f24b
  iframe.html
  main.0546f7761cb6a41d2609.bundle.js
  main.0546f7761cb6a41d2609.bundle.js.map
  main.bcf00a41f03b20195342.bundle.js
  main.bcf00a41f03b20195342.bundle.js.map
  runtime~main.0546f7761cb6a41d2609.bundle.js.map
  runtime~main.bcf00a41f03b20195342.bundle.js
  runtime~main.bcf00a41f03b20195342.bundle.js.map
  vendors~main.0546f7761cb6a41d2609.bundle.js
  vendors~main.0546f7761cb6a41d2609.bundle.js.map
  vendors~main.bcf00a41f03b20195342.bundle.js
  vendors~main.bcf00a41f03b20195342.bundle.js.LICENSE.txt
  vendors~main.bcf00a41f03b20195342.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(icons): update buttons to receive an icon component prop
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/button/stories/PrimaryButton.stories.tsx
  packages/button/stories/SecondaryButton.stories.tsx
  packages/button/stories/TertiaryButton.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(icons): update buttons to receive an icon component prop (#47)
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/button/stories/PrimaryButton.stories.tsx
  packages/button/stories/SecondaryButton.stories.tsx
  packages/button/stories/TertiaryButton.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: 90ff208f80ede09d6a8df51c6299f7d21d49bfe8
  iframe.html
  main.9844ce5fe85b798c4045.bundle.js
  main.9844ce5fe85b798c4045.bundle.js.map
  main.bcf00a41f03b20195342.bundle.js
  main.bcf00a41f03b20195342.bundle.js.map
  runtime~main.9844ce5fe85b798c4045.bundle.js
  runtime~main.9844ce5fe85b798c4045.bundle.js.map
  runtime~main.bcf00a41f03b20195342.bundle.js.map
  vendors~main.9844ce5fe85b798c4045.bundle.js
  vendors~main.9844ce5fe85b798c4045.bundle.js.LICENSE.txt
  vendors~main.9844ce5fe85b798c4045.bundle.js.map
  vendors~main.bcf00a41f03b20195342.bundle.js
  vendors~main.bcf00a41f03b20195342.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(release): fix undefined changelog path variable
  utils/scripts/release.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(release): fix undefined changelog path variable (#55)
  utils/scripts/release.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(changelog): generate changelog
  CHANGELOG.md
Due: none

chore(contributors): generate contributors
  .all-contributorsrc
  README.md
Due: none

chore(release): release (#56)
  .all-contributorsrc
  CHANGELOG.md
  README.md
Due: none

chore(release): publish
  packages/button/package.json
  packages/icons/package.json
  packages/switch/package.json
Due: prettier-package-json --write

fix(buttons): add missing styled system dependency
  packages/button/package.json
Due: prettier-package-json --write

fix: update root package json script
  package.json
Due: prettier-package-json --write

fix(publish): allow publishing from the master branch
  utils/scripts/publish.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(buttons): add missing styled system dependency (#57)
  packages/button/package.json
Due: prettier-package-json --write

fix: update root package json script (#58)
  package.json
Due: prettier-package-json --write

fix(publish): allow publishing from the master branch (#59)
  utils/scripts/publish.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(button): add transparent prop to button tertiary
  packages/button/src/ButtonTertiary.tsx
  packages/button/stories/TertiaryButton.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(button-tertiary): transparent background color
  packages/button/src/ButtonTertiary.tsx
  packages/button/stories/TertiaryButton.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(button-tertiary): ✨ transparent background color (#60)
  packages/button/src/ButtonTertiary.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write
