Repository VitauMX/vita-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "stylelint",
    "eslint",
    "jest --findRelatedTests",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

feat(storybook): upgrading storybook
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(tokens): adding build tokens script
  package.json
  scripts/build-custom-properties.ts
  tokens.css
  tokens.ts
  tsconfig.json
  vitatokens.ts
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

feat(tokens): refactoring build tokens function
  .storybook/main.css
  .storybook/preview.js
  .storybook/tokens.css
  package.json
  packages/button/src/ButtonPrimary.tsx
  scripts/build-custom-properties.ts
  scripts/build-tokens.ts
  tokens.css
  tokens.ts
  utils/toKebabCase.ts
  vitatokens.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

feat(button): update tokens
  packages/button/src/ButtonPrimary.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: d5759ed168f562b890efb3688c77901069c53347
  iframe.html
  main.52bd4918.iframe.bundle.js
  main.5f8dcdd4.iframe.bundle.js
  project.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(button): update styles button
  packages/button/src/ButtonPrimary.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(release): publish
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/input/CHANGELOG.md
  packages/input/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
Due: prettier-package-json --write

fix(button): fix styles
  packages/button/src/ButtonPrimary.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: 65e9e6f0184113291d5b55931a305fdfb62cbd55
  iframe.html
  main.52bd4918.iframe.bundle.js
  main.5f8dcdd4.iframe.bundle.js
  project.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: 42cbefda86f1e0b7b3888e1fa2a9a4a14d0d15ce
  project.json
Due: none

feat(input): using design tokens
  .storybook/tokens.css
  packages/button/src/ButtonBaseStyles.tsx
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/button/src/ButtonText.tsx
  packages/field/src/Field.tsx
  packages/iconButton/src/ButtonBaseStyles.tsx
  packages/iconButton/src/IconButton.tsx
  packages/input/src/Input.tsx
  packages/loader/src/Loader.tsx
  packages/pill/src/Pill.tsx
  tokens.ts
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix: fix ci
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(release): publish
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/input/CHANGELOG.md
  packages/input/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/pill/CHANGELOG.md
  packages/pill/package.json
Due: prettier-package-json --write

deploy: 8b28432ab3363e33ff43cf3065df9d13c47e0f36
  iframe.html
  main.52bd4918.iframe.bundle.js
  main.bc8d2c0c.iframe.bundle.js
  project.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: 58559f785ba3c1ddd5018b00f390d49150f3001f
  project.json
Due: none

feat(theme): adding vitau theme
  .storybook/manager.js
  .storybook/preview.js
  .storybook/vitauTheme.js
  package.json
  stories/assets/logo-color.svg
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

feat(button): adding global token
  packages/button/src/ButtonPrimary.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(release): publish
  packages/button/CHANGELOG.md
  packages/button/package.json
Due: prettier-package-json --write

deploy: 813072b57f678d07487a03b046d4999c4bc2c413
  iframe.html
  main.08c17db9.iframe.bundle.js
  main.a0c3b58e.iframe.bundle.js
  project.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(input): adding tokens
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(release): publish
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/input/CHANGELOG.md
  packages/input/package.json
Due: prettier-package-json --write

deploy: f84addf7bdc9395319ea820e8ebc7739418376f1
  iframe.html
  main.04736d2e.iframe.bundle.js
  main.a0c3b58e.iframe.bundle.js
  project.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(input): adding vitau theme
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(input): styles
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: 642274d394877d31d7784faf0e5584362810fd8e
  project.json
Due: none

chore(release): publish
  packages/input/CHANGELOG.md
  packages/input/package.json
Due: prettier-package-json --write

deploy: 83b850ca31af50c6ed0d51e445c5f67e84890d4b
  project.json
Due: none

deploy: d38c12b1e60d677c8e1fbb2a10bb6f3a336657d7
  project.json
Due: none

feat(button): adding loading state
  packages/button/src/ButtonPrimary.tsx
  packages/button/stories/PrimaryButton.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(button): adding loading to buttons
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/button/stories/PrimaryButton.stories.tsx
  packages/button/stories/SecondaryButton.stories.tsx
  packages/button/stories/TertiaryButton.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write
