Repository VitauMX/vita-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "stylelint",
    "eslint",
    "jest --findRelatedTests",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore(changelog): generate changelog (#61)
  CHANGELOG.md
Due: none

chore(release): publish
  packages/button/package.json
Due: prettier-package-json --write

chore: add global styles to storybook preview
  .storybook/preview.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(icons) update icons base width and height to be smaller
  packages/icons/src/Icon.tsx
  packages/icons/tests/__snapshots__/Icon.test.tsx.snap
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(icons): remove path prop from created icons
  packages/icons/src/createIcon.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

refactor(buttons): create button icon component for displaying icons in a button
  packages/button/src/ButtonIcon.tsx
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

refactor(buttons): create button icon component (#62)
  .storybook/preview.js
  packages/button/src/ButtonIcon.tsx
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/icons/src/Icon.tsx
  packages/icons/src/createIcon.tsx
  packages/icons/tests/__snapshots__/Icon.test.tsx.snap
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(changelog): generate changelog
  CHANGELOG.md
Due: none

chore(changelog): generate changelog (#63)
  CHANGELOG.md
Due: none

chore(release): publish
  packages/button/package.json
  packages/icons/package.json
Due: prettier-package-json --write

fix(deps): update commitlint monorepo to v12
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency eslint-config-prettier to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(field): create field package
  packages/field/package.json
  packages/field/src/Field.tsx
  packages/field/src/index.ts
  packages/field/stories/Field.stories.tsx
  packages/field/tests/Field.test.tsx
  packages/field/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update actions/setup-node action to v2.1.5
  .github/workflows/storybook-gh-page.yml
Due: none

fix(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update jest monorepo to v27
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency @manypkg/cli to ^0.18.0
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency stylelint-config-recommended to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency lerna to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency @testing-library/user-event to v13
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency concurrently to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency ts-node to v10
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency ts-jest to v27
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency dotenv to v10
  package.json
  yarn.lock
Due: prettier-package-json --write

Develop normal field variant
  packages/field/src/Field.tsx
  packages/field/stories/Field.stories.tsx
  packages/field/tests/Field.test.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

Fix :hover and :focus selectors conflict
  packages/field/src/Field.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore: add deterministic auto ids
  packages/field/package.json
  packages/field/src/Field.tsx
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore: refactor field input styles to field container
  packages/field/src/Field.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore: refactor field to use useField hook
  packages/field/src/Field.tsx
  packages/field/src/useField.ts
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore: update eslint to ignore varibles that start with _
  .eslintrc.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore: add aria attributes to input element
  packages/field/src/useField.ts
  packages/field/stories/Field.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore: add field success and error validation variants
  packages/field/package.json
  packages/field/src/Field.tsx
  packages/field/src/useField.ts
  packages/field/stories/Field.stories.tsx
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore: add storybook field story controls
  packages/field/src/Field.tsx
  packages/field/stories/Field.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore: add basic tests
  packages/field/tests/Field.test.tsx
  packages/field/tests/__snapshots__/Field.test.tsx.snap
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore: update field package version
  packages/field/package.json
Due: prettier-package-json --write

chore: add field story basic actions
  packages/field/stories/Field.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(publish): add pre publish script to build all packages
  package.json
Due: prettier-package-json --write

chore(changelog): generate changelog (#65)
  CHANGELOG.md
Due: none
