Repository VitauMX/vita-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "stylelint",
    "eslint",
    "jest --findRelatedTests",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore(release): rollback
  packages/css-normalize/CHANGELOG.md
  packages/css-normalize/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: prettier-package-json --write

chore(release): rollback (#21)
  packages/css-normalize/CHANGELOG.md
  packages/css-normalize/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: prettier-package-json --write

chore(release): rollback release config to use lerna
  CHANGELOG.md
  lerna.json
  package.json
  utils/scripts/release.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): rollback release config to use lerna (#22)
  CHANGELOG.md
  lerna.json
  package.json
  utils/scripts/release.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(changelog): generate changelog
  CHANGELOG.md
Due: none

chore(changelog): generate changelog (#23)
  CHANGELOG.md
Due: none

chore(release): update npm org scope for packages
  packages/css-normalize/package.json
  packages/layout/package.json
  utils/plop-templates/component/package.json.hbs
  utils/scripts/release.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): update npm org scope for packages (#24)
  packages/css-normalize/package.json
  packages/layout/package.json
  utils/plop-templates/component/package.json.hbs
  utils/scripts/release.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): update npm org scope for packages
  packages/css-normalize/package.json
  packages/layout/package.json
Due: prettier-package-json --write

chore(release): update npm org scope for packages (#25)
  packages/css-normalize/package.json
  packages/layout/package.json
Due: prettier-package-json --write

chore(release): publish
  packages/css-normalize/package.json
  packages/layout/package.json
Due: prettier-package-json --write

docs: add @DanielSepulveda as a contributor
  .all-contributorsrc
  README.md
Due: none

docs: add @martinrrm as a contributor
  .all-contributorsrc
  README.md
Due: none

chore(contributors): add contributors (#26)
  .all-contributorsrc
  README.md
Due: none

feat(storybook): adding github workflow for deploy storybook
  .github/workflows/storybook-gh-page.yml
  package.json
Due: prettier-package-json --write

fix(storybook): replace 'npm ci' to 'npm i'
  .github/workflows/storybook-gh-page.yml
Due: none

deploy: b8950b9612f9207e2b762f26aff908de33642490
  .nojekyll
  favicon.ico
  iframe.html
  index.html
  main.24c91dd411413f7f9573.bundle.js
  main.24c91dd411413f7f9573.bundle.js.map
  main.a68e29121942c11e88a2.bundle.js
  runtime~main.24c91dd411413f7f9573.bundle.js
  runtime~main.24c91dd411413f7f9573.bundle.js.map
  runtime~main.870e8ee0658e83d05c6b.bundle.js
  vendors~main.24c91dd411413f7f9573.bundle.js
  vendors~main.24c91dd411413f7f9573.bundle.js.LICENSE.txt
  vendors~main.24c91dd411413f7f9573.bundle.js.map
  vendors~main.6bea6e1158befb7d87d6.bundle.js
  vendors~main.6bea6e1158befb7d87d6.bundle.js.LICENSE.txt
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

Create CNAME
  CNAME
Due: none

chore(codeowners): configure codeowners
  .github/CODEOWNERS
Due: none

chore(node): set project node version with .nvmrc
  .nvmrc
Due: none

chore(internal): Create github PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(internal): Create github issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore(codeowners): configure codeowners (#29)
  .github/CODEOWNERS
Due: none

deploy: a1c90259d442dfca8ed4d3cae234ae4580d4cc52
  CNAME
Due: none

chore(internal): create first github PR and issue templates (#31)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(node): set project node version with .nvmrc (#30)
  .nvmrc
Due: none

fix(deps): update dependency stylelint-config-recommended to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(button): primary button and css for base button
  packages/button/package.json
  packages/button/src/Button.tsx
  packages/button/src/ButtonStyles.tsx
  packages/button/src/index.ts
  packages/button/stories/Button.stories.tsx
  packages/button/tests/Button.test.tsx
  packages/button/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

style(button): added styles for primary button variants
  packages/button/src/Button.tsx
  packages/button/src/ButtonStyles.tsx
  packages/button/stories/Button.stories.tsx
  packages/button/tests/Button.test.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(button): refactor button primary
  packages/button/src/Button.tsx
  packages/button/src/ButtonBaseStyles.tsx
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonStyles.tsx
  packages/button/src/index.ts
  packages/button/stories/PrimaryButton.stories.tsx
  packages/button/tests/ButtonPrimary.test.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(primary button): added description for package and fixed test texts
  packages/button/package.json
  packages/button/stories/PrimaryButton.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

feat(button): primary button component (#32)
  packages/button/package.json
  packages/button/src/ButtonBaseStyles.tsx
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/index.ts
  packages/button/stories/PrimaryButton.stories.tsx
  packages/button/tests/ButtonPrimary.test.tsx
  packages/button/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

deploy: 52795363fb40ddc6c5be81ec0345b7c83f9d24e3
  CNAME
  iframe.html
  main.24c91dd411413f7f9573.bundle.js
  main.24c91dd411413f7f9573.bundle.js.map
  main.27f11349be179dca15d4.bundle.js
  main.27f11349be179dca15d4.bundle.js.map
  runtime~main.24c91dd411413f7f9573.bundle.js.map
  runtime~main.27f11349be179dca15d4.bundle.js
  runtime~main.27f11349be179dca15d4.bundle.js.map
  vendors~main.24c91dd411413f7f9573.bundle.js
  vendors~main.24c91dd411413f7f9573.bundle.js.map
  vendors~main.27f11349be179dca15d4.bundle.js
  vendors~main.27f11349be179dca15d4.bundle.js.LICENSE.txt
  vendors~main.27f11349be179dca15d4.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(button): secondary button component
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/index.ts
  packages/button/stories/SecondaryButton.stories.tsx
  packages/button/tests/ButtonSecondary.test.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(button): text button component
  packages/button/src/ButtonText.tsx
  packages/button/src/index.ts
  packages/button/stories/TextButton.stories.tsx
  packages/button/tests/ButtonText.test.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(button): tertiary button component
  packages/button/src/ButtonTertiary.tsx
  packages/button/src/index.ts
  packages/button/stories/TertiaryButton.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

test(tertiary button): tertiary button component tests
  packages/button/tests/ButtonTertiary.test.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: e8d78c30219bdbb90db1391f7e74776a9ac9282b
  iframe.html
  main.27f11349be179dca15d4.bundle.js
  main.27f11349be179dca15d4.bundle.js.map
  main.dbe6086f085212779f1a.bundle.js
  main.dbe6086f085212779f1a.bundle.js.map
  runtime~main.27f11349be179dca15d4.bundle.js.map
  runtime~main.dbe6086f085212779f1a.bundle.js
  runtime~main.dbe6086f085212779f1a.bundle.js.map
  vendors~main.27f11349be179dca15d4.bundle.js
  vendors~main.27f11349be179dca15d4.bundle.js.map
  vendors~main.dbe6086f085212779f1a.bundle.js
  vendors~main.dbe6086f085212779f1a.bundle.js.LICENSE.txt
  vendors~main.dbe6086f085212779f1a.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

Create basic icon component
  packages/icons/package.json
  packages/icons/src/Icon.tsx
  packages/icons/src/index.ts
  packages/icons/stories/Icons.stories.tsx
  packages/icons/tests/Icon.test.tsx
  packages/icons/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write
