Repository VitauMX/vita-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

fix(husky): fix husky breaking changes from v4 to v6
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
Due: none

chore(release): publish
  packages/button/package.json
  packages/icons/package.json
Due: prettier-package-json --write

feat(field): create field package
  .eslintrc.js
  packages/field/package.json
  packages/field/src/Field.tsx
  packages/field/src/index.ts
  packages/field/src/useField.ts
  packages/field/stories/Field.stories.tsx
  packages/field/tests/Field.test.tsx
  packages/field/tests/__snapshots__/Field.test.tsx.snap
  packages/field/tsconfig.json
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

feat(field): create field package (#64)
  .eslintrc.js
  packages/field/package.json
  packages/field/src/Field.tsx
  packages/field/src/index.ts
  packages/field/src/useField.ts
  packages/field/stories/Field.stories.tsx
  packages/field/tests/Field.test.tsx
  packages/field/tests/__snapshots__/Field.test.tsx.snap
  packages/field/tsconfig.json
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

fix(buttons): QA fixes for buttons
  packages/button/src/ButtonBaseStyles.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/button/src/ButtonText.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(buttons): QA fixes for buttons (#73)
  packages/button/src/ButtonBaseStyles.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/button/src/ButtonText.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(build): fix build error
  package.json
Due: prettier-package-json --write

fix(build): build error
  package.json
Due: prettier-package-json --write

feat(input): create input package
  packages/input/package.json
  packages/input/src/Input.tsx
  packages/input/src/index.ts
  packages/input/src/useInput.ts
  packages/input/stories/Input.stories.tsx
  packages/input/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(changelog): generate changelog
  CHANGELOG.md
Due: none

chore(changelog): generate changelog (#77)
  CHANGELOG.md
Due: none

chore(release): publish
  packages/button/package.json
  packages/field/package.json
  packages/layout/package.json
Due: prettier-package-json --write

feat(input): create input package (#71)
  packages/input/package.json
  packages/input/src/Input.tsx
  packages/input/src/index.ts
  packages/input/src/useInput.ts
  packages/input/stories/Input.stories.tsx
  packages/input/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(changelog): generate changelog (#78)
  CHANGELOG.md
Due: none

chore(release): publish
  packages/input/package.json
Due: prettier-package-json --write

fix(input): fix package files
  packages/input/package.json
  packages/input/tests/Input.test.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

fix(inputs): deleted flex from input component
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(inputs): deleted flex from input component (#80)
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(changelog): generate changelog (#81)
  CHANGELOG.md
Due: none

fix(input): changes to fit formik
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(input): changes to fit formik (#82)
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(changelog): generate changelog (#83)
  CHANGELOG.md
Due: none

(layerfile): adding layerfile lerna build
  Layerfile
Due: none

feat: cchange for review
  README.md
Due: none

feat(pill): adding pill component
  packages/pill/package.json
  packages/pill/src/Pill.tsx
  packages/pill/src/index.ts
  packages/pill/stories/Pill.stories.tsx
  packages/pill/tests/Pill.test.tsx
  packages/pill/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

feat(typography): adding typography
  packages/typography/package.json
  packages/typography/src/Body.tsx
  packages/typography/src/Caption.tsx
  packages/typography/src/Label.tsx
  packages/typography/src/Message.tsx
  packages/typography/src/Overline.tsx
  packages/typography/src/Title.tsx
  packages/typography/src/index.ts
  packages/typography/stories/Body.stories.tsx
  packages/typography/stories/Caption.stories.tsx
  packages/typography/stories/Label.stories.tsx
  packages/typography/stories/Message.stories.tsx
  packages/typography/stories/Overline.stories.tsx
  packages/typography/stories/Title.stories.tsx
  packages/typography/tests/Typography.test.tsx
  packages/typography/tsconfig.json
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

(select): adding select component
  .storybook/preview-head.html
  package.json
  packages/select/package.json
  packages/select/src/Select.tsx
  packages/select/src/index.ts
  packages/select/stories/Select.stories.tsx
  packages/select/tests/Select.test.tsx
  packages/select/tsconfig.json
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

fix(ghpages): ghpages fixes
  .github/workflows/storybook-gh-page.yml
  package.json
  packages/button/package.json
  tsconfig.json
Due: prettier-package-json --write

deploy: ea3297f40937d1facbf1c32500536ac45e94fd86
  0.68cde4d3.iframe.bundle.js
  0.a58d8df3c13d3c3b4b94.manager.bundle.js
  4.13f9e5b7.iframe.bundle.js
  4.13f9e5b7.iframe.bundle.js.LICENSE.txt
  4.13f9e5b7.iframe.bundle.js.map
  4.90cbc75976163f0e4035.manager.bundle.js
  4.90cbc75976163f0e4035.manager.bundle.js.LICENSE.txt
  5.668150c91463815d1572.manager.bundle.js
  5.fc9a9099.iframe.bundle.js
  6.3acfff3c7825e3f1f99e.manager.bundle.js
  6.3acfff3c7825e3f1f99e.manager.bundle.js.LICENSE.txt
  6.df69a782.iframe.bundle.js
  6.df69a782.iframe.bundle.js.LICENSE.txt
  6.df69a782.iframe.bundle.js.map
  7.3afd796cebb5901b571a.manager.bundle.js
  7.4276287d.iframe.bundle.js
  8.ab0950daa9b5f500ffb4.manager.bundle.js
  iframe.html
  index.html
  main.1432dcfe667c1e3a2a80.manager.bundle.js
  main.9844ce5fe85b798c4045.bundle.js
  main.9844ce5fe85b798c4045.bundle.js.map
  main.a68e29121942c11e88a2.bundle.js
  main.ae54d233.iframe.bundle.js
  runtime~main.5dbe770bf4b45ae01eaf.manager.bundle.js
  runtime~main.7a9abbdb.iframe.bundle.js
  runtime~main.870e8ee0658e83d05c6b.bundle.js
  runtime~main.9844ce5fe85b798c4045.bundle.js
  runtime~main.9844ce5fe85b798c4045.bundle.js.map
  vendors~main.6bea6e1158befb7d87d6.bundle.js
  vendors~main.973d145319d2f62600d3.manager.bundle.js
  vendors~main.973d145319d2f62600d3.manager.bundle.js.LICENSE.txt
  vendors~main.9844ce5fe85b798c4045.bundle.js
  vendors~main.9844ce5fe85b798c4045.bundle.js.map
  vendors~main.f06a2520.iframe.bundle.js
  vendors~main.f06a2520.iframe.bundle.js.LICENSE.txt
  vendors~main.f06a2520.iframe.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

Create CNAME
  CNAME
Due: none

v0.2.0
  package.json
Due: prettier-package-json --write

deploy: 842c3083a4a5c52349a31923e520be561aad4136
  CNAME
Due: none

feat(theme provider): config of the framework theme provider
  packages/theme-provider/package.json
  packages/theme-provider/src/ThemeProvider.tsx
  packages/theme-provider/src/index.ts
  packages/theme-provider/stories/ThemeProvider.stories.tsx
  packages/theme-provider/tests/ThemeProvider.test.tsx
  packages/theme-provider/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

refactor(theme): rename package dir to theme
  packages/theme/package.json
  packages/theme/src/ThemeProvider.tsx
  packages/theme/src/index.ts
  packages/theme/stories/ThemeProvider.stories.tsx
  packages/theme/tests/ThemeProvider.test.tsx
  packages/theme/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

Path conditions:
  stylelint: any of: **/*.{ts,tsx,js,jsx}
  eslint: any of: **/*.{ts,tsx,js,jsx}
  jest --findRelatedTests: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{ts,tsx,js,jsx}
  prettier-package-json --write: any of: **/package.json
