Repository VitauMX/vita-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "stylelint",
    "eslint",
    "jest --findRelatedTests",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore(release): publish
  packages/button/CHANGELOG.md
  packages/button/package.json
Due: prettier-package-json --write

deploy: 7828cd8211915b0d17706b49f2062167c7f4ed47
  iframe.html
  main.ae7290a8.iframe.bundle.js
  main.ffb6a3a1.iframe.bundle.js
  project.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: d38c12b1e60d677c8e1fbb2a10bb6f3a336657d7
  iframe.html
  main.d23d467f.iframe.bundle.js
  main.ffb6a3a1.iframe.bundle.js
  project.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(button): adding loading
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/button/stories/PrimaryButton.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: a805fa880215edf64a7e299914a29426f95d52ad
  iframe.html
  main.97e990f3.iframe.bundle.js
  main.d23d467f.iframe.bundle.js
  project.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: 67a4c1a55e86164efac41135316f344a4d2b5b0a
  project.json
Due: none

deploy: d5abafb358d0e88ba6bc5a94a14b58efe4289cd1
  project.json
Due: none

chore(release): publish
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/button/src/Loader.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

deploy: 6bea5a84923d833326761cb10733c38d104977e5
  iframe.html
  main.08e1afd1.iframe.bundle.js
  main.97e990f3.iframe.bundle.js
  project.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(button): adding loading with children
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/button/src/Loader.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(button): adding styles
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(button): fix styles
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/button/stories/SecondaryButton.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(input): add cleave
  package.json
  packages/input/src/Input.tsx
  packages/input/src/useInput.ts
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  packages/input/CHANGELOG.md
  packages/input/package.json
Due: prettier-package-json --write

feat:(button): update button and loader
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/Loader.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat:(button): update button and loader fix
  packages/button/package.json
Due: prettier-package-json --write

feat:(loader): update loader
  packages/loader/package.json
Due: prettier-package-json --write

Align @reach/auto-id workspace deps and update node-plop init
  packages/field/package.json
  packages/input/package.json
  packages/loader/package.json
  utils/scripts/plopfile.ts
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

fix(deps): restore eslint7 and pre-node20 compatibility
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: align root @reach/auto-id version with workspaces
  package.json
Due: prettier-package-json --write

fix: upgrade jest-watch-typeahead for Jest 30 watch mode
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: align shelljs runtime with types
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: pin lodash-es to 4.17.21
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: align Jest 30 TypeScript dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: move root packages to dev dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: await node-plop initialization
  utils/scripts/plopfile.ts
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix: update ts-jest config format
  jest.config.ts
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix: update node version for jest 30
  .nvmrc
Due: none
