Repository VitauMX/vita-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "stylelint",
    "eslint",
    "jest --findRelatedTests",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix(theme): update package name and add description
  packages/theme-provider/package.json
Due: prettier-package-json --write

chore(theme): fix types and add stories
  packages/theme/src/ThemeProvider.tsx
  packages/theme/stories/ThemeProvider.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(theme): define initial vita theme object
  packages/theme/package.json
  packages/theme/src/ThemeProvider.tsx
  packages/theme/src/index.ts
  packages/theme/src/theme.ts
  packages/theme/src/utils/getThemeValue.ts
  packages/theme/src/utils/index.ts
  packages/theme/src/utils/types.ts
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

feat(contributing): Create the contribution guidelines
  CONTRIBUTING.md
  README.md
Due: none

chore(release): publish
  packages/button/package.json
  packages/pill/package.json
  packages/select/package.json
  packages/typography/package.json
Due: prettier-package-json --write

fix(deps): update dependency @types/jest to v27
  package.json
  yarn.lock
Due: prettier-package-json --write

Create CNAME
  CNAME
Due: none

feat(tokens): adding tokens to project
  package.json
  packages/theme/src/theme.ts
  packages/theme/src/utils/getThemeValue.ts
  packages/theme/src/utils/tokens.json
  packages/theme/stories/ThemeProvider.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

fix(typography): fixes from design QA
  packages/typography/src/Caption.tsx
  packages/typography/src/Label.tsx
  packages/typography/src/Overline.tsx
  packages/typography/src/Title.tsx
  packages/typography/stories/Body.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(input): change input size and spacing
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(package.json): adding patch command
  package.json
Due: prettier-package-json --write

chore(release): publish
  packages/input/CHANGELOG.md
  packages/input/package.json
  packages/typography/CHANGELOG.md
  packages/typography/package.json
Due: prettier-package-json --write

feat(input): change input spacing
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(release): publish
  packages/input/CHANGELOG.md
  packages/input/package.json
Due: prettier-package-json --write

deploy: e62ec7c5a1b943dd0ef221ad7212a274606c2992
  iframe.html
  main.5a38897c.iframe.bundle.js
  main.bd90efcc.iframe.bundle.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(select): adding arrow to select
  package.json
  packages/select/src/Select.tsx
  packages/select/src/useSelect.ts
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

v0.2.0
  package.json
Due: prettier-package-json --write

feat(select): change select design
  packages/select/src/Select.tsx
  packages/select/src/useSelect.ts
  packages/select/stories/Select.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: 6b418cc9972e2877779a16ce8d0470f85b3e69be
  0.c967efcd.iframe.bundle.js
  0.cf2e7eb7.iframe.bundle.js
  4.ae50982b.iframe.bundle.js
  4.ae50982b.iframe.bundle.js.LICENSE.txt
  4.ae50982b.iframe.bundle.js.map
  4.c7c43ccb.iframe.bundle.js
  4.c7c43ccb.iframe.bundle.js.map
  5.067a3d60.iframe.bundle.js
  5.cdf8c8ca.iframe.bundle.js
  6.5a3e8ee5.iframe.bundle.js
  6.5a3e8ee5.iframe.bundle.js.map
  6.bfffc539.iframe.bundle.js
  6.bfffc539.iframe.bundle.js.LICENSE.txt
  6.bfffc539.iframe.bundle.js.map
  7.0033daab.iframe.bundle.js
  7.9e3bcd70.iframe.bundle.js
  CNAME
  iframe.html
  main.5a38897c.iframe.bundle.js
  main.e39d2b66.iframe.bundle.js
  runtime~main.6e3bd464.iframe.bundle.js
  runtime~main.75356b60.iframe.bundle.js
  vendors~main.1e2a218e.iframe.bundle.js
  vendors~main.1e2a218e.iframe.bundle.js.map
  vendors~main.f9766ead.iframe.bundle.js
  vendors~main.f9766ead.iframe.bundle.js.LICENSE.txt
  vendors~main.f9766ead.iframe.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(guidelines): readme and contribution documentation updates
  CONTRIBUTING.md
  README.md
Due: none

feat(loader): create loader package
  packages/loader/package.json
  packages/loader/src/Loader.tsx
  packages/loader/src/index.ts
  packages/loader/stories/Loader.stories.tsx
  packages/loader/tsconfig.json
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

feat: fix input stories
  packages/input/src/Input.tsx
  packages/input/stories/Input.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat: icon Button
  packages/iconButton/src/ButtonBaseStyles.tsx
  packages/iconButton/src/IconButton.tsx
  packages/iconButton/src/index.ts
  packages/iconButton/src/useIconButton.ts
  packages/iconButton/stories/IconButton.stories.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

fix(deps): update dependency stylelint-config-recommended to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

deploy: 307b78472025adda6a13db935cb2cb1d6e89a101
  0.367cdf36.iframe.bundle.js
  0.c967efcd.iframe.bundle.js
  4.9f043899.iframe.bundle.js
  4.9f043899.iframe.bundle.js.LICENSE.txt
  4.9f043899.iframe.bundle.js.map
  4.ae50982b.iframe.bundle.js
  4.ae50982b.iframe.bundle.js.map
  5.cdf8c8ca.iframe.bundle.js
  5.dd003f87.iframe.bundle.js
  6.05e007d7.iframe.bundle.js
  6.05e007d7.iframe.bundle.js.LICENSE.txt
  6.05e007d7.iframe.bundle.js.map
  6.bfffc539.iframe.bundle.js
  6.bfffc539.iframe.bundle.js.map
  7.0033daab.iframe.bundle.js
  7.9e3bcd70.iframe.bundle.js
  iframe.html
  main.e39d2b66.iframe.bundle.js
  main.f11fc246.iframe.bundle.js
  runtime~main.6e3bd464.iframe.bundle.js
  runtime~main.ce3b4a72.iframe.bundle.js
  vendors~main.6be4149d.iframe.bundle.js
  vendors~main.6be4149d.iframe.bundle.js.LICENSE.txt
  vendors~main.6be4149d.iframe.bundle.js.map
  vendors~main.f9766ead.iframe.bundle.js
  vendors~main.f9766ead.iframe.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: cf9e966e93dc97b6140e6c9d14935ea2a33ebb4e
  iframe.html
  main.341ca1e2.iframe.bundle.js
  main.f11fc246.iframe.bundle.js
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

deploy: 937c4d138fc5d22f14d646ed8c811891faf638ab
  0.367cdf36.iframe.bundle.js
  0.a08ce0bb.iframe.bundle.js
  4.2d760012.iframe.bundle.js
  4.2d760012.iframe.bundle.js.LICENSE.txt
  4.2d760012.iframe.bundle.js.map
  4.9f043899.iframe.bundle.js
  4.9f043899.iframe.bundle.js.map
  5.1a295243.iframe.bundle.js
  5.dd003f87.iframe.bundle.js
  6.05e007d7.iframe.bundle.js
  6.05e007d7.iframe.bundle.js.map
  6.999ec640.iframe.bundle.js
  6.999ec640.iframe.bundle.js.LICENSE.txt
  6.999ec640.iframe.bundle.js.map
  7.45aca904.iframe.bundle.js
  7.9e3bcd70.iframe.bundle.js
  iframe.html
  main.341ca1e2.iframe.bundle.js
  main.42f24b20.iframe.bundle.js
  runtime~main.c8faafdf.iframe.bundle.js
  runtime~main.ce3b4a72.iframe.bundle.js
  vendors~main.2c05749e.iframe.bundle.js
  vendors~main.2c05749e.iframe.bundle.js.LICENSE.txt
  vendors~main.2c05749e.iframe.bundle.js.map
  vendors~main.6be4149d.iframe.bundle.js
  vendors~main.6be4149d.iframe.bundle.js.map
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(input): fix label width
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(input-button): fix QA
  packages/button/src/ButtonPrimary.tsx
  packages/button/src/ButtonSecondary.tsx
  packages/button/src/ButtonTertiary.tsx
  packages/button/src/ButtonText.tsx
  packages/button/stories/PrimaryButton.stories.tsx
  packages/field/src/Field.tsx
  packages/field/src/useField.ts
  packages/field/stories/Field.stories.tsx
  packages/input/src/Input.tsx
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

feat(stories): update stories
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/vitauTheme.js
  package.json
  packages/button/stories/PrimaryButton.stories.tsx
  packages/button/stories/SecondaryButton.stories.tsx
  packages/button/stories/TertiaryButton.stories.tsx
  packages/button/stories/TextButton.stories.tsx
  packages/field/stories/Field.stories.tsx
  packages/input/stories/Input.stories.tsx
  packages/pill/stories/Pill.stories.tsx
  packages/select/stories/Select.stories.tsx
  packages/stories/contributing.stories.mdx
  packages/switch/stories/Switch.stories.tsx
  yarn.lock
Due: stylelint, eslint, jest --findRelatedTests, prettier --write, prettier-package-json --write

feat:(input): update input border sytles
  packages/input/src/Input.tsx
Due: stylelint, eslint, jest --findRelatedTests, prettier --write

chore(deps): update dependency font-awesome to v5.15.4
  .storybook/preview-head.html
Due: none

fix(deps): update dependency @testing-library/react to v12
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency husky to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency jest-axe to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency jest-watch-typeahead to v1
  package.json
  yarn.lock
Due: prettier-package-json --write
